:root {
  --color-primary: #5c36f2;   /*Aqui he definido los 2 colores con los que vamos a trabajar */
  --color-secondary: #e67d00;
}

body {
  margin: 0!important;
  padding: 0!important;
  box-sizing: border-box!important;
}
